.DS_Store
node_modules/
dist/

log/log4js/
!/log/log4js/
/log/log4js/*
!/log/log4js/.gitkeep

log/morgan/
!/log/morgan/
/log/morgan/*
!/log/morgan/.gitkeep

download/114/
!/download/114/
/download/114/*
!/download/114/.gitkeep

download/jd/
!/download/jd/
/download/jd/*
!/download/jd/.gitkeep

download/yzmImg/
!/download/yzmImg/
/download/yzmImg/*
!/download/yzmImg/.gitkeep

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.project
